#App {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  text-align: center;
}

#login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

button {
  width: 10rem;
}

#header {
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}

#message-form {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 1rem 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#message-input {
  height: 1rem;
  font-family: inherit;
  /* line-height: 2rem; */
  padding: 0.5rem;
  width: 80%;
  border-radius: 10px;
  /* line-break: loose; */
}

#submit-button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

#chat {
  background-color: white;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  max-height: 100%;
  overflow-y: scroll;
  padding: 0 1rem;
}

#chat-fade {
  position: fixed;
  height: 3rem;
  width: 100vw;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white);
}

.sent {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #defae3;
}

.received {
  background-color: #dedefa;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 2rem;
}

.received .sender-name {
  right: 1rem;
}

.message-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-div .profile-image {
  background-color: #e8ffe6;
  max-height: 2.8rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.received-div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.received-div .profile-image {
  margin-right: 0rem;
  margin-left: 1rem;
}

.sender-name {
  position: absolute;
  margin: 0;
  top: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.message {
  position: relative;
  width: 80%;
  border-radius: 20px;
  margin: 0.5rem 0;
  text-align: left;
}

.content {
  margin: 0.5rem 1rem;
  line-break: anywhere;
}

.message-date {
  margin: 0.5rem 1rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=App.css.map */